	<div class="alert alert-success" role="alert">
     <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  		Questions from <%=from_email%><br> 
   
    </div>
	 <a href="/QA">Show All</a>
	<br><br>
			 <%searchquestions.forEach(function(question){ %>
		         
					 <div class="thumbnail" > 
					   <h4 style="color:grey;font-size: 11px;">## <%=question.question_from_email %> posted on <%=question.question_sentDate %></h4>
						<div class="caption">
							<h4>
							  Q: <%=question.question_content %> ?
							</h4>
							<p>
						    <B>
							  Ans:
							</B>
							<small>
							 <%=question.question_answer_owner.answer_content %>
							 </small>
							</p>
							<p><a class="btn active btn-xs btn-success" href="#">Add Answer</a></p>
					  </div>
 				       <div class="panel-group" id="panel-79968">
				        <div class="panel panel-default">
					      <div class="panel-heading">
						    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-79968" href="#panel-element-42936" style="font-size: 12px;">See All Answers</a>
					     </div>
					     <div id="panel-element-42936" class="panel-collapse collapse">
						   <div class="panel-body">
							  <%=question.question_answer_owner.answer_content %>
						  </div>
					    </div>
				      </div>
                   </div>
				</div>
			 
		<%})%>
	